doctype html
html
    head
        title
        link(rel='stylesheet', type='text/css', href='dw-bxslider-4/src/css/jquery.bxslider.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/styles.css')
        link(rel='stylesheet', type='text/css', href='Hover/css/hover.css')
    body
        // Slider
        #slider-wrap
            .slider8
                each val,index in images
                    each el in val
                       div(class= index)
                            img(src= el)
        // Demonstration
        #demo
            .shape
                img(src='images/Face6.png')
        // Buttons
        .buttonDown
        .buttonUp
        .endButton.hvr-buzz
            | END!!!
        .changeButton
        script().
            var images =!{JSON.stringify(images)};
        script(type="text/javascript", src='jquery/dist/jquery.js')
        script(type="text/javascript", src='jquery-transform/jquery.transform2d.js')
        script(type="text/javascript", src='jquery-color/jquery.color.js')
        script(type="text/javascript", src='dw-bxslider-4/src/js/jquery.bxslider.js')
        script(type="text/javascript", src='javascripts/imageContainer.js')
        script(type="text/javascript", src='javascripts/script.js')


