#endButton, #changeButton {
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding:0;
    background-color: #e1e1e1;
    position: absolute;
    left: 66%;
    bottom: 10%;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    visibility: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}
#changeButton {
    left: 50%;
    bottom: -100%;
    margin-bottom: 5px;
}

#vk-share-button {
    position: absolute;
    left: 80%;
    bottom: -100%;
    margin-bottom: 40px;
}


.but:hover{
    cursor: pointer;
}

#buttonDown {
    position: absolute;
    bottom: 0;
    left: 33%;
    width: 32px;
    height: 32px;
    background: url(../images/controls.png) no-repeat 0 -32px;
    -webkit-transform:translateX(-50%) rotate(-90deg);
    -moz-transform:translateX(-50%)rotate(-90deg);
    -ms-transform:translateX(-50%) rotate(-90deg);
    -o-transform:translateX(-50%) rotate(-90deg);
    transform:translateX(-50%) rotate(-90deg);

}

#buttonUp {
    right: 10px;
    background: url(../images/controls.png) no-repeat -43px -32px;
    position: absolute;
    top: 0;
    left: 33%;
    width: 32px;
    height: 32px;
    -webkit-transform:translateX(-50%) rotate(-90deg);
    -moz-transform:translateX(-50%) rotate(-90deg);
    -ms-transform:translateX(-50%) rotate(-90deg);
    -o-transform:translateX(-50%) rotate(-90deg);
    transform:translateX(-50%) rotate(-90deg);
}

#buttonUp:hover {
    background-position: -43px 0;
}

#buttonDown:hover {
    background-position: 0 0;
}