#demo {
    position: absolute;
    top: 47%;
    left: 66%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#demo.shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#demo div:not(.shape) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
}