@import "buttons.css";
@import "results.css";
@import "demo.css";
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}
#wrapper{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    height: auto;
    min-height: 100%;
    /*width: 100%;*/
    border: dotted;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}




#slider-wrap {
    position: absolute;
    top: 50%;
    left: 33%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}



h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #acacac;
    font-size: 64px;
    left: 20%;
    text-align: center;
}
h2{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}